 {% load static %}
 {% load i18n %}
 <!--=====================================-->
        <!--=        Footer Area Start       	=-->
        <!--=====================================-->
        <footer class="footer-area">
            <div class="container">
                
               
                <div class="footer-bottom" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-copyright">
                                <span class="copyright-text">© 2021. All rights reserved by <a href="https://axilthemes.com/">Axilthemes</a>.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-bottom-link">
                                <ul class="list-unstyled">
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="terms-of-use.html">Terms of Use</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!--=====================================-->
        <!--=       Offcanvas Menu Area       	=-->
        <!--=====================================-->
        <div class="offcanvas offcanvas-end header-offcanvasmenu" tabindex="-1" id="offcanvasMenuRight">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                <form id="languageForm" action="{% url 'set_language' %}" method="post" style="display: block;">
                    {% csrf_token %}
                    
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <select style="width: 50px; height: 30px; border-radius: 15%; border: none; color: rgb(112, 58, 58); font-size: 18px;" name="language" onchange="this.form.submit()">
                        {% get_current_language as LANGUAGE_CODE %}
                        {{ LANGUAGE_CODE }}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ language.code }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="offcanvas-body">
                <form action="" class="side-nav-search-form">
                    <div class="form-group">
                        <input type="text" class="search-field" name="search-field" placeholder="Search...">
                        <button class="side-nav-search-btn"><i class="fas fa-search"></i></button>
                    </div>
                </form>
                <div class="row ">
                    <div class="col-lg-5 col-xl-6">
                        <ul class="main-navigation list-unstyled">
                            <li><a href="{% url 'home_page' %}">{% trans 'Homepage' %}</a></li>
                            <li><a href="{% url 'contact_page' %}">{% trans 'Contact us' %}</a></li>
                            <li><a href="{% url 'blog_page' %}">{% trans 'Blogs' %}</a></li>
                            <li><a href="{% url 'post_page' %}">{% trans 'Posts' %}</a></li>

                            {% if user.is_authenticated %}
                                    
                                <li><a href=""></a></li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);">{% trans 'Welcome' %}, {{user.username |title}}!</a>
                                    <ul class="axil-submenu">
                                        <li><a href="{% url 'my_posts' request.user.username  %}">{% trans 'My Posts' %}</a></li>
                                        <li><a href="{% url 'create_post' %}">{% trans 'Add Blog' %}</a></li>
                                        <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                                    </ul>
                                </li>

                            {% else %}

                                <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
                                <li><a href="{% url 'register' %}">{% trans 'Register' %}</a></li>

                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-lg-7 col-xl-6">
                        <div class="contact-info-wrap">
                            <div class="contact-inner">
                                <address class="address">
                                    <span class="title">{% trans 'Contact Information' %}</span>
                                    <p>{{settings.address}}</p>
                                </address>
                                <address class="address">
                                    <span class="title">{% trans "We're Available 24/7. Call Now." %}</span>
                                    <a class="tel" href="tel:{{settings.phone1}}"><i class="fas fa-phone"></i>
                                        {{settings.phone1}}</a>
                                    <a class="tel" href="tel:{{settings.phone2}}"><i class="fas fa-fax"></i>
                                        {{settings.phone2}}</a>
                                </address>
                            </div>
                            <div class="contact-inner">
                                <h5 class="title">{% trans 'Find us here' %}</h5>
                                <div class="contact-social-share">
                                    <ul class="social-share list-unstyled">
                                        <li><a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.behance.net/"><i class="fab fa-behance"></i></a></li>
                                        <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
        