{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/vendor/register.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">  
    <link rel="stylesheet" href="{% static 'assets/css/vendor/font-awesome.css' %}">
</head>

<body>
  <div class="wrapper">
    <h2>Login</h2>
    <h6>Don't have an account? <a href="{% url 'register' %}" class="more-btn" style ="text-decoration:none"> Register Now!</a></h6>

    <form action="{% url 'login' %}" method = "POST">
      {% csrf_token %}
      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
      {% endif %}
      
      {% for f in form  %}
      <div class="input-box">
        {{f}}
      </div>
      {% endfor %}
 
      <div class="input-box button">
        <input type="Submit" value="Login Now">
      </div>
      <div>
      <a class="fa-brands fa-google fa-2x btn btn-gray" href="{% url 'social:begin' 'google-oauth2' %}">        
      </a>
      <a href="{% url 'social:begin' 'google-oauth2' %}" style="color: black;text-decoration: none;">Sign with Google</a>
    </div>

      <div>
      <a class="fa-brands fa-facebook fa-2x btn btn-gray" href="{% url 'social:begin' 'facebook' %}">         
    </a>
    <a href="{% url 'social:begin' 'facebook' %}" style="color: black;text-decoration: none;">Sign with Facebook</a>
  </div>
      </form>
  </div>
</body>
</html>





