{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

<!--=====================================-->
        <!--=       Breadcrumb Area Start       =-->
        <!--=====================================-->
        <div class="breadcrum-area">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="list-unstyled">
                        <li><a href="index-1.html">Home</a></li>
                        <li class="active">Blog</li>
                    </ul>
                    <h1 class="title h2">Blog</h1>
                </div>
            </div>
            <ul class="shape-group-8 list-unstyled">
                <li class="shape shape-1" data-sal="slide-right" data-sal-duration="500" data-sal-delay="100"><img src="{% static 'assets/media/others/bubble-9.png' %}" alt="Bubble"></li>
                <li class="shape shape-2" data-sal="slide-left" data-sal-duration="500" data-sal-delay="200"><img src="{% static 'assets/media/others/bubble-10.png' %}" alt="Bubble"></li>
                <li class="shape shape-3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300"><img src="{% static 'assets/media/others/line-4.png' %}" alt="Line"></li>
            </ul>
        </div>
        <!--=====================================-->
        <!--=        Blog Area Start       	    =-->
        <!--=====================================-->
        <section class="section-padding-equal">
            <div class="container">
                <div class="row row-40">
                    <div class="col-lg-8">
                        {% for blog in blogs %}
                        <div class="blog-grid">
                            <h3 class="title"><a href="">{{blog.title}}</a></h3>
                            <div class="author">
                                <div class="author-thumb">
                                    <img class = 'rounded-circle border border-light' src="{{blog.author.avatar.url}}" width = '80px' alt="Blog Author">
                                </div>
                                <div class="info">
                                    <h6 class="author-name">ABSTRAK</h6>
                                    <ul class="blog-meta list-unstyled">
                                        <li>{{blog.created_at|timesince}}</li>
                                        <li>{{blog.reading_time}} min to read</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="post-thumbnail">                                
                                <a href="{% url 'blog_detail' blog.slug %}"><img src="{{blog.image.url}}" alt="Blog"></a>
                            </div>                            
                            <p>{{blog.description|safe|truncatechars_html:100}}</p>                                                         
                            <a href="{% url 'blog_detail' blog.slug %}" class="axil-btn btn-borderd btn-large">Read More</a>
                        </div>
                        {% empty %}
                            <h1> There is no blog </h1>
                        {% endfor %}
                        {% comment %} <div class="blog-grid blog-without-thumb">
                            <h3 class="title"><a href="single-blog.html">Twice Profit Than Before You Ever Got</a></h3>
                            <div class="author">
                                <div class="info">
                                    <h6 class="author-name">Theresa Underwood</h6>
                                    <ul class="blog-meta list-unstyled">
                                        <li>Sep 9, 2021</li>
                                        <li>15 min to read</li>
                                    </ul>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        
                       

                        {% comment %} PAGINATOR {% endcomment %}
                        {% if blog_count != 0 %}
                        <div class="pagination">
                            <span class="step-links">
                                <ul>
                                                          
                                {% comment %} <li><a class="prev page-numbers" {% if blogs.has_previous %} href="?page=1" {% else %} href = ""{% endif %}><<<i ></i></a></li> {% endcomment %}
                                <li><a class="prev page-numbers" {% if blogs.has_previous %} href="?page={{ blogs.previous_page_number }}" {% else %} href = ""{% endif %}><i ><</i></a></li>
                                                                 
                                
                                    {% if range|length > 5 %}
                                    {% for num in range  %}
                                        {% if num <= page|add:2 and num >= page|sub:2 %}
                                        <li><a href="?page={{num}}" class="page-numbers {% if num == page %}current{% endif %}">{{num}}</a></li> 
                                        {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        {% for num in range  %}
                                        <li><a href="?page={{num}}" class="page-numbers {% if num == page %}current{% endif %}">{{num}}</a></li> 
                                        {% endfor %}
                                    {% endif %}
                             
                                                            
                                <li><a class="prev page-numbers" {% if blogs.has_next  %} href="?page={{ blogs.next_page_number }}" {% else %} href = ""{% endif %}>><i ></i></a></li>
                                {% comment %} <li><a class="prev page-numbers" {% if blogs.has_next  %} href="?page={{ blogs.paginator.num_pages }}"{% else %} href = ""{% endif %}><i >>></i></a></li> {% endcomment %}
                                
                            </ul>
                            </span>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-4">
                        <div class="axil-sidebar">
                            <div class="widget widget-search">
                                <h4 class="widget-title">Search</h4>
                                <form action="{% url 'blog_page' %}" class="blog-search" >                                    
                                    <input type="text" placeholder="Search…" name = "search" class = "mb-3" ,{% if search_text %} value =  {{search_text}} {% endif %}>
                                    
                                    <select style="height: 35px;" name="cat"
                                    class="d-inline-block form-select rounded-0 form-select-sm mb-3 "
                                    aria-label=".form-select-sm example">

                                    <option value="">{% if category %} {{category}} {% else %} Categories {% endif %}</option>
                                    {% if category %}

                                    {% for cat in categories %}
                                        {% if cat != category %}
                                        <option value="{{ cat.id }}">{{ cat.title }}</option>
                                        {% endif %}
                                    {% endfor %}

                                    {% else %}

                                        {% for cat in categories %}                                   
                                        <option value="{{ cat.id }}">{{ cat.title }}</option>                                 
                                        {% endfor %}

                                    {% endif %}
                                     </select>
                                     
                                     <div>
                                        <label class="text-black"><b>From:</b> </label>
                                        <input id="start" value="{{ start_date }}" style="width: 250px; height: 30px; margin-left:8px; margin-bottom:10px" type="date" name="startdate"
                                            placeholder="startdate">
                                    </div>
                                    <div>
                                        <label class="text-black"><b>Till:</b> </label>
                                        <input id="end" value="{{ end_date }}" style="width: 250px; height: 30px; margin-left:25px;" type="date" name="enddate"
                                            placeholder="enddate">
                                    </div>
                                     <button class="btn btn-primary mt-5" type="submit">Search</button>
                                </form>
                            </div>
                            {% comment %} <div class="widget widget-categories">
                                <h4 class="widget-title">Categories</h4>
                                {% for category in categories %}
                                <ul class="category-list list-unstyled">
                                    <li><a class="current" href="{% url 'blog_category' category.slug %}">{{category.title|title}}</a></li>                                    
                                </ul>
                                {% endfor %}
                            </div> {% endcomment %}
                       
                            <div class="widget widget-recent-post">
                                <h4 class="widget-title">Recent Blogs</h4><hr>
                                <div class="post-list-wrap">
                                    {% for blog in recentblogs  %}
                                    <div class="single-post">                                        
                                        <div class="post-thumbnail">
                                            <h6 class="title"><a href="single-blog.html">{{blog.title}}</a></h6>
                                            <a href="single-blog.html"><img src="{{blog.image.url}}" width='50%' alt="Blog"></a>
                                            <li>{{blog.created_at}}</li>
                                        </div>
                                    </div>
                                    {% endfor %}
                                   
                                </div>
                            </div>
                       
                        </div>
                    </div>
                </div>
            </div>
        </section>  




    </div>
    <script>
        var startDateInput = document.getElementById("start");
        var endDateInput = document.getElementById("end");
    
        startDateInput.addEventListener("change", function() {
            if (startDateInput.value !== "") {
                endDateInput.required = true;
            } else {
                endDateInput.required = false;
            }
        });
    
        endDateInput.addEventListener("change", function() {
            if (endDateInput.value !== "") {
                startDateInput.required = true;
            } else {
                startDateInput.required = false;
            }
        });
    </script>


{% endblock  %}