{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

<!--=====================================-->
        <!--=       Breadcrumb Area Start       =-->
        <!--=====================================-->
        <div class="breadcrum-area">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="list-unstyled">
                        <li><a href="index-1.html">Home</a></li>
                        <li class="active">Posts</li>
                    </ul>
                    <h1 class="title h2">Posts</h1>
                </div>
            </div>
            <ul class="shape-group-8 list-unstyled">
                <li class="shape shape-1" data-sal="slide-right" data-sal-duration="500" data-sal-delay="100"><img src="{% static 'assets/media/others/bubble-9.png' %}" alt="Bubble"></li>
                <li class="shape shape-2" data-sal="slide-left" data-sal-duration="500" data-sal-delay="200"><img src="{% static 'assets/media/others/bubble-10.png' %}" alt="Bubble"></li>
                <li class="shape shape-3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300"><img src="{% static 'assets/media/others/line-4.png' %}" alt="Line"></li>
            </ul>
        </div>
        <!--=====================================-->
        <!--=        Blog Area Start       	    =-->
        <!--=====================================-->
        <section class="section section-padding customer-review-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="section-heading heading-left">
                           
                            <p></p>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    {% for post in posts %}
                    
                    <a href="{% url 'post_detail' post.slug %}" class="col-lg-4">
                        <div class="testimonial-grid">
                            <span class="social-media">{{post.created_at | date:"d/m/Y" }}</span>
                            <p>“{{post.title}}”</p>
                            <div class="author-info">
                                <div class="thumb">
                                    <img src={{post.author.avatar.url}} style="width:65px;height:65px;" alt="Google Review">
                                </div>
                                <div class="content">
                                    <span class="name">{{post.author.username}}</span>
                                    <span class="designation">{{post.author.first_name}} {{post.author.last_name}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% empty %}
                    {% if msg %}
                    <h1> {{msg}} .. </h1>
                    {% else %}
                    <h1> You haven't shared any posts yet.. </h1>
                    {% endif %}                        
                        <a href="{% url 'addblog' %}" class="axil-btn btn-borderd ">Share Now!</a>
                    {% endfor %} 
            </div>
        </section>
       
        <!--=====================================-->
        <!--=     Call To Action Area Start     =-->
        <!--=====================================-->
    </div>


{% endblock  %}

